@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input ::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button ::-moz-focus-inner {
  padding: 0px;
  border: 0px;
}

a,
a :visited {
  text-decoration: none;
}

a :hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "DniproCity";
  src: url("../fonts/DniproCity-Regular.eot");
  src: local("☺"), url("../fonts/DniproCity-Regular.woff") format("woff"), url("fonts/DniproCity-Regular.ttf") format("truetype"), url("fonts/DniproCity-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "DniproCity";
  src: url("../fonts/DniproCity-Bold.eot");
  src: local("☺"), url("../fonts/DniproCity-Bold.woff") format("woff"), url("fonts/DniproCity-Bold.ttf") format("truetype"), url("fonts/DniproCity-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-regular.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-regular.otf") format("opentype"), url("../fonts/lato-regular/lato-regular.svg") format("svg"), url("../fonts/lato-regular.ttf") format("truetype"), url("../fonts/lato-regular.woff") format("woff"), url("../fonts/lato-regular.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-light.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-light.otf") format("opentype"), url("../fonts/lato-light.svg") format("svg"), url("../fonts/lato-light.ttf") format("truetype"), url("../fonts/lato-light.woff") format("woff"), url("../fonts/lato-light.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-bold.otf") format("opentype"), url("../fonts/lato-bold.svg") format("svg"), url("../fonts/lato-bold.ttf") format("truetype"), url("../fonts/lato-bold.woff") format("woff"), url("../fonts/lato-bold.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("Lato-Black.eot");
  src: url("Lato-Black.eot?#iefix") format("embedded-opentype"), url("Lato-Black.woff") format("woff"), url("Lato-Black.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: Lato;
}

.header {
  width: 1900px;
  height: 1080px;
  background: url("../img/Logo_binary.png") no-repeat 50% 160px scroll, url("../img/BG-Header.png") top center no-repeat scroll;
  margin: 0 auto;
}
.header__title {
  text-align: center;
  padding: 450px 0 0 0;
  letter-spacing: 5px;
  line-height: 30px;
  font-size: 18px;
  color: white;
}
.header__title span {
  font-size: 34px;
  font-family: "Lato";
  font-weight: 700;
  text-transform: uppercase;
}
.header__title:after {
  content: "";
  position: absolute;
  width: 105px;
  height: 2px;
  top: 585px;
  background-color: rgb(255, 255, 255);
  margin: 0 0 0 -217px;
}
.header__button {
  height: 47px;
  width: 182px;
  margin: 300px 0 0 865px;
}

.menu {
  margin: 15px auto 15px auto;
  text-transform: uppercase;
  font-size: 15px;
  width: 430px;
  display: flex;
  justify-content: space-between;
}
.menu :first-child {
  color: #ada074;
}

.about__body {
  width: 1900px;
  margin: 150px auto;
}
.about__header {
  text-align: center;
  margin-bottom: 65px;
  padding: 0 60px;
}
.about__title {
  margin-bottom: 30px;
}
.about__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 150%;
}
.about__row {
  width: 828px;
  display: flex;
  margin: 0 auto;
}
.about__column {
  flex: 0 0 33.333%;
  padding: 0 15px;
}

.title {
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
  position: relative;
  text-align: center;
  padding-bottom: 30px;
}
.title:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 92px;
  height: 4px;
  left: 50%;
  background-color: black;
  margin: 0 0 0 -50px;
}

.item-about {
  text-align: center;
}
.item-about__icon {
  margin: 0 auto;
  height: 92px;
  width: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-about__title {
  text-transform: none;
  font-size: 22px;
  margin: 30px 0 30px 0;
  letter-spacing: 3px;
}
.item-about__text {
  font-weight: 300;
  letter-spacing: 0.2px;
  line-height: 170%;
  color: black;
  font-size: 14px;
}