//Обнуляющий файл
@import "nullstyle.scss";

@font-face {
	font-family: 'DniproCity';
	src: url('../fonts/DniproCity-Regular.eot');
	src: local('☺'), url('../fonts/DniproCity-Regular.woff') format('woff'), url('fonts/DniproCity-Regular.ttf') format('truetype'), url('fonts/DniproCity-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DniproCity';
	src: url('../fonts/DniproCity-Bold.eot');
	src: local('☺'), url('../fonts/DniproCity-Bold.woff') format('woff'), url('fonts/DniproCity-Bold.ttf') format('truetype'), url('fonts/DniproCity-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}


@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-regular.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/lato-regular.otf") format("opentype"),
		/* Open Type Font */
		url("../fonts/lato-regular/lato-regular.svg") format("svg"),
		/* Legacy iOS */
		url("../fonts/lato-regular.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/lato-regular.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/lato-regular.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-light.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/lato-light.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/lato-light.otf") format("opentype"),
		/* Open Type Font */
		url("../fonts/lato-light.svg") format("svg"),
		/* Legacy iOS */
		url("../fonts/lato-light.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/lato-light.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/lato-light.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/lato-bold.eot");
	/* IE9 Compat Modes */
	src: url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"),
		/* IE6-IE8 */
		url("../fonts/lato-bold.otf") format("opentype"),
		/* Open Type Font */
		url("../fonts/lato-bold.svg") format("svg"),
		/* Legacy iOS */
		url("../fonts/lato-bold.ttf") format("truetype"),
		/* Safari, Android, iOS */
		url("../fonts/lato-bold.woff") format("woff"),
		/* Modern Browsers */
		url("../fonts/lato-bold.woff2") format("woff2");
	/* Modern Browsers */
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('Lato-Black.eot');
	src: url('Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('Lato-Black.woff') format('woff'),
		url('Lato-Black.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
	font-family: Lato;

}

.header {

	width: 1900px;
	height: 1080px;
	background: url("../img/Logo_binary.png") no-repeat 50% 160px scroll, url("../img/BG-Header.png") top center no-repeat scroll;
    margin: 0 auto;

	&__title {
		text-align: center;
		padding: 450px 0 0 0;
		letter-spacing: 5px;
		line-height: 30px;
		font-size: 18px;
		color: white;

		span {
			font-size: 34px;
			font-family: "Lato";
			font-weight: 700;
			text-transform: uppercase;
		}

		&:after {
			content: '';
			position: absolute;
			width: 105px;
			height: 2px;
            top: 585px;
			background-color: rgb(255, 255, 255);
            margin: 0 0 0 -210px;


		}
	}



	&__button {
height: 47px;
width: 182px;
margin: 100px 0 0 873px ;
	}
}

.about {

	//весь блок
	&__body {
		width: 1900px;
		margin: 0px auto;
	}

	//Блок ABOUT с текстом
	&__header {
		text-align: center;
		margin-bottom: 65px;
		padding: 0 60px;

	}

	// Заголовок ABOUT
	&__title {
		margin-bottom: 30px;
	}

	// Текст под ABOUT
	&__text {
		font-size: 14px;
		font-weight: 300;
		line-height: 150%;
	}

	// Элемент Картинки-подписи-текст
	&__row {
		width: 828px;
		display: flex;
		margin: 0 auto;

	}

	// Элементы по колонкам
	&__column {

		flex: 0 0 33.333%;
		padding: 0 15px;
	}
}

//Блок ABOUT
.title {
	font-size: 34px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 8.95px;
	position: relative;
	text-align: center;
	padding-bottom: 30px;

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		width: 92px;
		height: 4px;
		left: 50%;
		background-color: black;
		margin: 0 0 0 -50px;
	}
}

//Элементы в колонках
.item-about {
	text-align: center;

	//Иконка
	&__icon {
		margin: 0 auto;
		height: 92px;
		width: 92px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	//Заголовок под иконкой
	&__title {
		text-transform: none;
		font-size: 22px;
		margin: 30px 0 30px 0;
		letter-spacing: 3px;

	}

	//Текст под заголовком под иконкой
	&__text {
		font-weight: 300;
		letter-spacing: 0.2px;
		line-height: 170%;
		color: black;
		font-size: 14px;
	}
}