//Обнуляющий файл
@import "nullstyle.scss"; 

@font-face {
    font-family: 'DniproCity';
    src: url('../fonts/DniproCity-Regular.eot');
    src: local('☺'), url('../fonts/DniproCity-Regular.woff') format('woff'), url('fonts/DniproCity-Regular.ttf') format('truetype'), url('fonts/DniproCity-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'DniproCity';
    src: url('../fonts/DniproCity-Bold.eot');
    src: local('☺'), url('../fonts/DniproCity-Bold.woff') format('woff'), url('fonts/DniproCity-Bold.ttf') format('truetype'), url('fonts/DniproCity-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
}


@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-regular.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/lato-regular.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/lato-regular.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/lato-regular/lato-regular.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/lato-regular.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/lato-regular.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/lato-regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-light.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/lato-light.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/lato-light.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/lato-light.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/lato-light.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/lato-light.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/lato-light.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/lato-bold.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/lato-bold.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("../fonts/lato-bold.otf") format("opentype"),
        /* Open Type Font */
        url("../fonts/lato-bold.svg") format("svg"),
        /* Legacy iOS */
        url("../fonts/lato-bold.ttf") format("truetype"),
        /* Safari, Android, iOS */
        url("../fonts/lato-bold.woff") format("woff"),
        /* Modern Browsers */
        url("../fonts/lato-bold.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');

body {
    font-family: Lato;

}
.Clear__smart__attractive_design__for_your_app__ {
    font-size: 33.916px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.176;
    text-align: center;
    position: absolute;
    left: 570px;
    top: 447px;
    width: 754px;
    height: 70px;
    z-index: 116;
}
.READ_MORE {
    font-size: 11.239px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    left: 911px;
    top: 811px;
    width: 100px;
    height: 13px;
}

.HOME_____________ABOUT_US_____________PORTFOLIO {
    font-size: 15px;
    font-family: "Lato";
    color: rgb(173, 160, 116);
    font-weight: bold;
    text-align: left;
    position: absolute;
    left: 764px;
    top: 1102px;
    width: 422px;
    height: 12px;

}
//Линия под надписью
.Line {
    background-image: url("images/Line.png");
    position: absolute;
    left: 904px;
    top: 566px;
    width: 105px;
    height: 2px;

}
.header{
    width: 1900px;
    height: 1080px;
    background: url("../img/BG-Header.png") center top no-repeat scroll;


}
.about {
//весь блок
    &__body {
    width: 1900px;
    margin: 0px auto;
}
//Блок ABOUT с текстом
    &__header {
text-align: center;
margin-bottom: 65px;
padding: 0 60px;

    }
// Заголовок ABOUT
    &__title {
margin-bottom:30px ;
    }
// Текст под ABOUT
    &__text {
        font-size: 14px;
        font-weight: 300;
        line-height: 150%;
    }
// Элемент Картинки-подписи-текст
    &__row {
        width: 828px;
display: flex;
margin: 0 0 0 533px;

    }
// Элементы по колонкам
    &__column {

flex: 0 0 33.333%;
padding: 0 15px;
    }
}
//Блок ABOUT
.title {
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 8.95px;
    position: relative;
    text-align: center;
    padding-bottom: 30px;
&:after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 92px;
    height: 4px;
    left: 50%;
    background-color: black;
    margin: 0 0 0 -50px;
}
}

//Элементы в колонках
.item-about {
    text-align: center;

//Иконка
    &__icon {
        margin: 0 auto;
        height: 92px;
        width: 92px;
display: flex;
justify-content: center;
align-items: center;
    }
//Заголовок под иконкой
    &__title {
text-transform: none;
        font-size: 22px;
margin: 30px 0 30px 0;
letter-spacing: 3px;

    }
//Текст под заголовком под иконкой
    &__text {
        font-weight: 300;
        letter-spacing: 0.2px;
        line-height: 170%;
        color: black;
        font-size: 14px;
    }
}
